*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.page1{
    height: 100vh;
    width: 100vw;
    background-color: #badce6;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #20201e;
  /* font-family: "Montserrat", system-ui; */
  font-family: 'Rowan Free Demo';
  
}
@font-face {
    font-family: 'Rowan Free Demo';
    font-style: normal;
    font-weight: normal;
    src: local('Rowan Free Demo');
    }


nav {
    height: 6%;
    width: 100%;
    /* background-color: blue; */
   display: flex;
   justify-content: space-between;
   top: 0;
   align-items: center;
   z-index: 999;
   
}
nav >ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 22px;
    font-weight: 600;
    

}
nav h1 {
    font-weight: 600;

}
.page1 img {
    height: 170%;
    width: 49%;
    position: absolute;
    top: -7%;
    right: 14%;
    /* margin-top: 0%; */
    rotate: -5deg;
    /* position: relative; */
    z-index: 99;
}
.page1 > h1 {
    display:inline-block;
    height: 33%;
    font-size: 160px;
    /* background-color:aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: 
    #20201e;
  z-index: 1000;
  margin-top: 50px;
  letter-spacing: 3px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-family: "Montserrat", system-ui; */
  gap: 20px;
  font-weight: 900;
}
.page1 > h1 span {
  color: transparent;
  -webkit-text-stroke: 0.1px #1c1c1c;
  letter-spacing: 10px;

}
.page1 > h1 span .u {
  color: transparent;
  -webkit-text-stroke: 1px transparent;
  margin: 0px 20px;
  
}
.midsection {
    height: 40%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 96;
    /* margin-top: 1%; */
}
.midsection > .circle {
height: 150px;
width: 150px;
border-radius: 50%;
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;
margin-left: 16%;
margin-top: 10%;
}
.detail {
    height: 100%;
    width: 25%;
    /* background-color: bisque; */
}
.detail .top {
    display: flex;
    flex-direction: column;
align-items: flex-start;
}
.detail .top .choose {
    margin-top: 3%;
  
}
.detail .top .choose >a {
color: #20201e;
font-weight: bolder;

}
.detail .bottom {
    /* background-color: #badce6; */
    display: flex;
  
} 
.detail .top p {
    width: 100%;
font-size: 17px;
letter-spacing: 1px;
}
.bottom {
    position: absolute;
    bottom: 5%;
    gap: 30px;
}
